
.roll{
background-color: white;
}

.qwer{
	font-size: 38px;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 27px;
	padding-top: 61px;
}
.te1{
    border-top: 1px solid #111;
    margin-bottom: 0px;
    overflow: visible;
    width: 100%;
}
.te2{
	display: block;
	position: relative;
	float: left;
	background-color: #fff;
	z-index: 2;
    margin-left: 0;
    border-left: 1px solid #d9d9d9;
    width: 50%;
    text-align: center;
    margin-bottom: 28px;
}
.div2{
    width: 40%;
	display: block;
	position: relative;
	float: left;
    text-align: center;
    margin-bottom: 18px;
    margin-left: 32px;
    color: #555;
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    border: 1px solid;
}

.div2:active{
	background-color: #B0B0B0;
	color: white;
}

.div3{
    width: 40%;
	display: block;
	position: relative;
	float: left;
    text-align: center;
    margin-bottom: 18px;
    color: #555;
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    border: 1px solid;
}


.div3:active{
	background-color: #B0B0B0;
	color: white;
}

.clicked {
  	border-color: #4285f4;
	background: #e9f1fe;
}


